{% import "widget/post.html" as post_widget %}

{% macro render(report, post, thread, view_ips=False, ip4_to_str=None) %}
    <div class="report-post" id="p{{ post.refno }}">
        <div class="report-post-header">
            {{ report.count }} {{ report.count|pluralize('report', 'reports') }}<br>
            <span title="{{ report.date|formatted_time }}">Reported {{ report.date|time_remaining }}</span><br>
            {% if view_ips %}
                IP: {{ ip4_to_str(report.post.ip4) }}
            {% endif %}
        </div>

        {{ post_widget.render(post, thread, file_position='top', link_refno=True) }}
        <div class="clear"></div>
        <div class="report-post-manage">
            <form action="{{ url_for('.mod_post_manage') }}" method="post">
                {{ csrf_html() }}
                <input type="hidden" name="report_id" value="{{ report.id }}">
                <button name="mode" value="clear" title="Delete the report without taking action">Clear</button>
                <button name="mode" value="delete" title="Remove the post">Delete</button>
            </form>
        </div>
    </div>
{% endmacro %}
