{% macro render_files(post_item) %}
    {% if post_item.files %}
        {% for file in post_item.files %}
            <div class="file">
                <a class="file-link" href="{{ file.location|post_file_uri }}" data-filewidth="{{ file.width }}" data-fileheight="{{ file.height }}" data-filename="{{ file.original_name }}" data-filesize="{{ file.size }}">
                    <img src="{{ file.thumbnail_location|post_file_uri }}" width="{{ file.thumbnail_width }}" height="{{ file.thumbnail_height }}">
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render(post_item, thread, board=None, snippet=False, link_refno=False,
                board_info=False, with_divider=False, checkbox=False,
                file_position='bottom', is_locked=False, is_sticky=False) %}
    {# NOTE: keep this in line with the javascript post html builder #}
    <div class="post{{ ' snippet' if snippet else '' }}{{ ' divider' if with_divider else '' }}" id="p{{ post_item.refno }}" data-date="{{ post_item.date }}">
        <div class="header">
            {% if post_item.subject %}
                <span class="subject">
                    {{ post_item.subject }}
                </span>
                <br>
            {% endif %}
            <a href="{% if link_refno %}{{ url_for('view_thread', board_name=board.name, thread_refno=thread.refno) }}{% endif %}#p{{ post_item.refno }}" class="refno">#{{ post_item.refno }}</a>
            <span class="name">
                {{ post_item.name|post_name }}
            </span>
            {% if post_item.mod_code %}
                <span class="modcode">{{ post_item.mod_code }}</span>
            {% endif %}
            <span class="date">
                {{ post_item.date|post_time }}
            </span>
            {% if is_locked %}<b>[locked]</b> {% endif %}
            {% if is_sticky %}<b>[sticky]</b>{% endif %}
            {% if checkbox %}
            <span class="manage">
                <input type="checkbox" name="post_id" value="{{ post_item.id }}">
            </span>
            {% endif %}

            {% if post_item.files %}
                <br>
                {% for file in post_item.files %}
                    File: <a href="{{ file.location|post_file_uri }}">{{ file.original_name }}</a> {{ '(' ~ file.size|filesizeformat ~ ', ' ~ file.width ~ 'x' ~ file.height ~ ')' }}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if file_position == 'top' %}
            {{ render_files(post_item) }}
        {% endif %}
        {% if post_item.html_text %}
            <div class="styled-text">
                {{ post_item.html_text|safe }}
            </div>
        {% endif %}
        {% if file_position == 'bottom' %}
            {{ render_files(post_item) }}
        {% endif %}
        {% if board_info %}
            <div class="boardinfo">
                {% if thread.omitted_count %}
                    {{ thread.omitted_count ~ ' ' ~ thread.omitted_count|pluralize('reply', 'replies') }} omitted
                {% endif %}
                [<a href="{{ url_for('view_thread', board_name=board.name, thread_refno=thread.refno) }}">View thread</a>]
            </div>
        {% endif %}
    </div>
{% endmacro %}
