{% macro render_file(post_item) %}
    {% if post_item.file %}
        <div class="file">
            <a class="file-link" href="{{ post_item.file.location|post_file_uri }}" data-filewidth="{{ post_item.file.width }}" data-fileheight="{{ post_item.file.height }}" data-filename="{{ post_item.file.original_name }}" data-filesize="{{ post_item.file.size }}">
                <img src="{{ post_item.file.thumbnail_location|post_file_uri }}" width="{{ post_item.file.thumbnail_width }}" height="{{ post_item.file.thumbnail_height }}">
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro render(post_item, thread, board=None, snippet=False, link_refno=False,
                board_info=False, with_divider=False, checkbox=False,
                file_position='bottom', is_locked=False, is_sticky=False) %}
    {# NOTE: keep this in line with the javascript post html builder #}
    <div class="post{{ ' snippet' if snippet else '' }}{{ ' divider' if with_divider else '' }}" id="p{{ post_item.refno }}" data-date="{{ post_item.date }}">
        <div class="header">
            {% if post_item.subject %}
                <span class="subject">
                    {{ post_item.subject }}
                </span>
                <br>
            {% endif %}
            <a href="{% if link_refno %}{{ url_for('view_thread', board_name=board.name, thread_refno=thread.refno) }}{% endif %}#p{{ post_item.refno }}" class="refno">#{{ post_item.refno }}</a>
            <span class="name">
                {{ post_item.name|post_name }}
            </span>
            {% if post_item.mod_code %}
                <span class="modcode">{{ post_item.mod_code }}</span>
            {% endif %}
            <span class="date">
                {{ post_item.date|post_time }}
            </span>
            {% if is_locked %}<b>[locked]</b> {% endif %}
            {% if is_sticky %}<b>[sticky]</b>{% endif %}
            {% if checkbox %}
            <span class="manage">
                <input type="checkbox" name="post_id" value="{{ post_item.id }}">
            </span>
            {% endif %}

            {% if post_item.file %}
                <br>
                File: <a href="{{ post_item.file.location }}">{{ post_item.file.original_name }}</a> {{ '(' ~ post_item.file.size|filesizeformat ~ ', ' ~ post_item.file.width ~ 'x' ~ post_item.file.height ~ ')' }}
            {% endif %}
        </div>
        {% if file_position == 'top' %}
            {{ render_file(post_item) }}
        {% endif %}
        {% if post_item.html or post_item.text %}
            <div class="styled-text">
                {# Render both the cached version and the model #}
                {% if post_item.html %}
                    {{ post_item.html|safe }}
                {% else %}
                    {{ post_item.text|post_text }}
                {% endif %}
            </div>
        {% endif %}
        {% if file_position == 'bottom' %}
            {{ render_file(post_item) }}
        {% endif %}
        {% if board_info %}
            <div class="boardinfo">
                {% if thread.omitted_count %}
                    {{ thread.omitted_count ~ ' ' ~ thread.omitted_count|pluralize('reply', 'replies') }} omitted
                {% endif %}
                [<a href="{{ url_for('view_thread', board_name=board.name, thread_refno=thread.refno) }}">View thread</a>]
            </div>
        {% endif %}
    </div>
{% endmacro %}
