[app]
# App name, for logs and the like
name = uchan

# Url the site is reachable at. Trailing slashes must be left out.
# For example, if your site is reachable at https://uchan.example.com/ site_url would equal "https://uchan.example.com"
site_url = http://localhost

# Content of the manifest.json file
manifest = {
           "name": "uchan"
           }

[plugins]
# Comma separated list of enabled plugins
plugins = captcha2

[captcha2]
# Get recaptcha keys for your site here https://www.google.com/recaptcha/intro/index.html

# The following keys are test keys, and do not offer any protection.
sitekey = 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
secret = 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

[http]
# Enable this when serving behind a proxy (almost always)
# Do not use this middleware in non-proxy setups for security reasons.
use_proxy_fixer = true
# The number of proxies this instance is behind
# This needs to be set to prevent ip spoofing by malicious clients appending their own forwarded-for header
# 2 for a varnish > nginx > uwsgi setup
# 3 for a front_end > varnish > nginx > uwsgi setup
proxy_fixer_num_proxies = 2

# Max POST size to accept.
# Keep this the same as your nginx client_max_body_size config.
# 5242880 = 5 * 1024 * 1024
max_content_length = 5242880

[file]
# Which cdn type to use, see file_service for more details
# Types available: "local"
file_cdn_type = local

# The temporary dir in which files are placed that are received from the client.
# The temporary files will be deleted after a post unless the python process crashes.
upload_queue_path = /tmp/uchanmediaqueue

# Settings for the local cdn type
# Absolute path of where to place the the files.
local_cdn_path = /opt/app/data/media

# Absolute base url of where the client should request the file.
local_cdn_web_path = http://localhost/media/

[celery]
# Celery broker url
broker_url = amqp://queue/

[varnish]
# Enable to purge the varnish cache
enable_purging = true
# Address we can reach varnish, to send PURGE requests to.
server = http://varnish

[memcache]
# Memcache server address
server = memcached:11211

# The -I flag of memcache, the max size of items
# note: "-I 2M" means "2 * 1024 * 1024" here
# Memcache defaults to 1M
# 1048576 = 1 * 1024 * 1024
max_item_size = 1048576

[database]
connect_string = postgresql+psycopg2://uchan:uchan@db/uchan
# Check this with your uwsgi total thread count + worker count and the postgres max_connections
pool_size = 4
