{% extends "base.html" %}

{% block content %}
    <div class="board-header">
        <h1>/{{ board.name }}/{% if full_name %} - {{ full_name }}{% endif %}</h1>
        <div class="description">{{ description }}</div>
    </div>
    <br>

    <hr class="content-divider">

    {% if site_config.motd %}
        <div class="motd">{{ site_config.motd }}</div>
        <hr class="content-divider">
    {% endif %}

    {% block post_form_top %}{% endblock %}

    {% block board_controls_top %}{% endblock %}

    {% block board_view_content %}{% endblock %}

    {% block board_controls_bottom %}{% endblock %}

    {% block post_form_bottom %}{% endblock %}

{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style/extra.css' if config.DEBUG else 'style/extra.6.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        window.pageDetails = {{ page_details|tojson|safe }};
    </script>

    {% assets "js_thread" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_extra" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {{ super() }}
{% endblock %}
