{% extends "base.html" %}

{% block title %}Verification required{% endblock %}

{% block content %}
    <div class="message">
        <h1>Verification required</h1>
        {% if verified %}
            <p>You are verified, you may now close this page.</p>
            <script>
                // Close the verify page if the source was the posting page and reload that page causing the agent to
                // retry the post.
                if (window.opener && window.opener.location.pathname == '{{ url_for('.post') }}') {
                    window.opener.location.reload();
                    window.close();
                }
            </script>
        {% else %}
            <form action="{{ url_for('.verify') }}" method="POST">
                <p>
                    {% if verified_message %}
                        {{ verified_message }}
                    {% endif %}
                </p>

                {{ method.get_html()|safe }}
                <br>
                <input type="submit" value="Verify">
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ super() }}
    {% if not verified %}{{ method.get_javascript()|safe }}{% endif %}
{% endblock %}
