.datatable {
    border-collapse: collapse;
}

.datatable th, .datatable td {
    border: 1px solid #B1B1B1;
    padding: 5px;
    word-wrap: break-word;
    max-width: 400px;
}

.report-post {
    display: inline-block;
    width: 350px;
    margin: 0.2em;
    vertical-align: top;
    border: #ccc 3px solid;
}

.report-post-header {
    background: #ccc;
    padding: 0.4em;
}

.report-post .post {
    height: 230px;
    overflow-y: auto;
}

.report-post .file {
    float: left;
    margin: 0.4em 0.4em 0.4em 0;
}

.report-post .file img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.report-post .styled-text {
    padding: 0.4em;
    margin-left: -4px;
}

.report-post-manage {
    background: #ccc;
    padding: 0.4em 0.2em 0.2em 0.2em;
}
