{% extends "mod_base.html" %}

{% block title %}Memcached stats{% endblock %}
{% block mod_title %}Memcache statistics{% endblock %}
{% block mod_content %}
    {% for server in stats %}
        <h3>{{ server[0] }}</h3>

        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in server[1] %}
                <tr>
                    <td>{{ stat[0] }}</td>
                    <td>{{ stat[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}

{% endblock %}
