{% extends "mod_base.html" %}

{% block title %}Mod bans{% endblock %}

{% block content %}
    <h2>Bans</h2>

    <form action="{{ url_for('.mod_ban_add') }}" method="POST">
        <fieldset>
            <legend>Add ban</legend>
            {{ csrf_html() }}

            <label>Ban ip4
                <small>ex. 10.0.0.1</small>
                <br>
                <input type="text" name="ban_ip4" value="{{ ban_ip4 }}">
            </label>
            <br>
            <label>Ban ip4 end
                <small>optional</small>
                <br>
                <i>If specified, the ip range from start to end will be banned.</i>
                <br>
                <input type="text" name="ban_ip4_end">
            </label>
            <br>
            <label>Board
                <small>optional</small>
                <br>
                <i>If specified, the ban will be scoped to the board.</i>
                <br>
                <input type="text" name="board">
            </label>
            <br>
            <label>Ban duration
                <small>in hours. use 0 for a permanent ban.</small>
                <br>
                <input type="text" name="ban_length" value="24">
            </label>
            <br>
            <label>Ban reason
                <small>optional</small>
                <br>
                <textarea name="ban_reason" cols="60" rows="4"></textarea>
            </label>
            <br>
            <input type="submit" value="Add">
        </fieldset>
    </form>
    <br>

    <form action="{{ url_for('.mod_ban_delete') }}" method="POST">
        {{ csrf_html() }}
        <table class="datatable">
            <thead>
            <tr>
                <th>ip</th>
                <th>to ip</th>
                <th>from</th>
                <th>until</th>
                <th>board</th>
                <th>reason</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for ban in bans %}
                <tr>
                    <td>{{ ip4_to_str(ban.ip4) }}</td>
                    <td>{{ ip4_to_str(ban.ip4_end) if ban.ip4_end is not none else '' }}</td>
                    <td>{{ ban.date|formatted_time }}</td>
                    <td>
                        {% if ban.length > 0 %}
                            {{ (ban.date + ban.length)|formatted_time }} -
                            {% if (ban.date + ban.length) - now < 0 %}
                                <b>Expired, not viewed</b>
                            {% else %}
                                <b>{{ (ban.date + ban.length)|time_remaining }} remaining</b>
                            {% endif %}
                        {% else %}
                            Does not expire
                        {% endif %}
                    </td>
                    <td>{{ ban.board or '' }}</td>
                    <td>{{ ban.reason }}</td>
                    <td>
                        <button class="confirm-button" name="ban_id" value="{{ ban.id }}">Lift ban</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        (function () {
            var confirmButtons = document.querySelectorAll('.confirm-button');
            for (var i = 0; i < confirmButtons.length; i++) {
                (function () {
                    var b = confirmButtons[i];
                    b.onclick = function (e) {
                        if (b.textContent != 'Confirm') {
                            b.textContent = 'Confirm';
                            e.preventDefault();
                        }
                    }
                })();
            }
        })();
    </script>
    {{ super() }}
{% endblock %}
