{% extends "mod_base.html" %}

{% import "widget/dynamic_config.html" as dynamic_config_widget %}

{% block title %}Modify site{% endblock %}
{% block mod_title %}Modify site{% endblock %}
{% block mod_content %}
    Detected ip: <b>{{ current_ip4_str }}</b><br>
    <br>

    {{ dynamic_config_widget.render(site_config_config, url_for('.mod_site'), 'mod_site_') }}

    <br>

    Current session count: {{ session_count }}<br>
    <form action="{{ url_for('.reset_sessions') }}" method="POST">
        {{ csrf_html() }}
        <input type="submit" value="Reset all sessions">
    </form>

{% endblock %}
