{% extends "mod_base.html" %}

{% block title %}Mod posts{% endblock %}

{% import "widget/post_report.html" as post_report_widget %}
{% import "widget/link_list.html" as link_list_widget %}

{% block content %}
    <h2>Reports</h2>

    {{ x }}

    <p>
        Reports for moderator {{ moderator.name }} that manages the boards {{ link_list_widget.render(board_links) }}
    </p>

    {% for report in reports %}
        {{ post_report_widget.render(report, report.post_cache, report.post.thread, view_ips=view_ips, ip4_to_str=ip4_to_str) }}
    {% endfor %}

{% endblock %}
