{% extends "mod_base.html" %}

{% block title %}Statistics{% endblock %}
{% block mod_title %}Statistics{% endblock %}
{% block mod_content %}
    <table class="datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        {% for k, v in stats.items() %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
