{% macro render(config, update_url) %}
    <form action="{{ update_url }}" method="post">
        <fieldset>
            <legend>Configuration</legend>
            <input type="hidden" name="token" value="{{ csrf_token() }}">

            {% for config_item in config.configs %}
                <label>
                    {% if config_item.text_input %}
                        <textarea name="{{ config_item.name }}" cols="60" rows="8">{{ config_item.value }}</textarea>
                        <br>
                    {% else %}
                        <input type="text" name="{{ config_item.name }}" value="{{ config_item.value }}" style="width: 50px;"/>
                    {% endif %}
                    {{ config_item.description }}
                </label>
                {% if config_item.minimum is not none %}
                    <small><i>minimum of {{ config_item.minimum }}</i></small>
                {% endif %}
                {% if config_item.maximum is not none %}
                    <small><i>maximum of {{ config_item.maximum }}</i></small>
                {% endif %}
                <br>
                <br>
            {% endfor %}
            <br>
            <input type="submit" value="Submit update"/>
        </fieldset>
    </form>
{% endmacro %}
