.mod-title {
    margin: 0;
}

.datatable {
    border-collapse: collapse;
}

.datatable th, .datatable td {
    border: 1px solid #B1B1B1;
    padding: 5px;
    word-wrap: break-word;
    max-width: 400px;
}

.mod-tabs {
    margin: 10px 20px 0 20px;
    border-bottom: 1px solid #B1B1B1;
}

.mod-tabs span {
    padding: 8px 12px 8px 12px;
}

.mod-tabs a {
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    border: 1px solid transparent;
    /*margin-right: -4px;*/
    color: #666;
    line-height: calc(1em + 2px + 8px * 2);
}

.mod-tabs a:hover {
    color: #222;
}

.mod-tabs a.active {
    border: 1px solid #B1B1B1;
    border-bottom-color: #EBF3FF;
    color: #000;
}

.mod-tabs a:hover.active {
    color: #000;
}

.report-boards {
    list-style: none;
    padding: 0;
}

.report-boards li {
    display: inline-block;
    background: #E6E6E6;
    margin: 0 2px 0 2px;
}

.report-boards li a {
    display: inline-block;
    padding: 4px 8px 4px 8px;
}

.report-post {
    display: inline-block;
    width: 350px;
    margin: 0.2em;
    vertical-align: top;
    border: #ccc 3px solid;
}

.report-post-header {
    background: #ccc;
    padding: 0.4em;
}

.report-post .post {
    height: 230px;
    overflow-y: auto;
}

.report-post .file {
    float: left;
    margin: 0.4em 0.4em 0.4em 0;
}

.report-post .file img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.report-post .styled-text {
    padding: 0.4em;
    margin-left: -4px;
}

.report-post-manage {
    background: #ccc;
    padding: 0.4em 0.2em 0.2em 0.2em;
}
