html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #EBF3FF;
}

body, textarea {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
}

fieldset {
    border: 1px solid #B1B1B1;
    margin: 0 0 1em 0;
}

blockquote {
    margin: 0;
    padding: 0.2em 0 0.2em 1em;
    border-left: 1px solid #B1B1B1;
}

.generic-form input:not(:last-child), .generic-form select:not(:last-child) {
    margin-bottom: .8em;
}

.generic-form .form-errors {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ff0000;
}

.clear {
    clear: both;
}

.link-list {
    padding: 5px;
    color: #666;
    /*font-size: 12px;*/
}

.link-list a {
    text-decoration: none;
}

.link-list a:hover, .link-list a.active {
    text-decoration: underline;
}

.link-list .link-list-right {
    float: right;
    position: static;
}

.flashes {
    margin: 0 0 1em 0;
    padding: 10px 30px;
    border: 1px solid #B1B1B1;
    background-color: #FFC6C6;
    list-style: square;
    line-height: 1.4em;
}

.base-content {
    padding: 20px;
}

.motd {
    font-weight: bold;
    text-align: center;
}

.board-header h1 {
    text-align: center;
    color: #af0a0f;
    font-weight: bold;
    font-size: 2.5em;
}

.board-header .description {
    text-align: center;
}

.content-divider {
    border: none;
    border-top: 1px solid #B1B1B1;
    margin: 0.7em 0 0.7em 0;
}

.post-form {
    max-width: 500px;
}

.post-form legend {
    font-size: 2em;
    font-weight: bold;
}

.post-form [name="comment"] {
    width: 100%;
    padding: 0;
}

.post-manage-container {
    width: 100%;
}

.post-manage-container .thread-controls {
    float: left;
    vertical-align: middle;
    line-height: 21px;
}

.post-manage-form-container {
    float: right;
}

.post {
    padding: 12px 10px 12px 10px;
}

.post.snippet {
    margin-left: 50px;
}

@media (max-width: 425px) {
    .post.snippet {
        margin-left: 20px;
    }
}

.post.divider {
    border-bottom: 1px solid #d4dce8;
}

.post:target, .post.highlight {
    background-color: #fff4e2;
}

.post .header .subject {
    color: #0200ff;
}

.post .header .refno {
    color: #000;
    text-decoration: none;
}

.post .header .refno:hover {
    text-decoration: underline;
    color: #ff0000;
}

.post .header .name {
    font-weight: bold;
    color: #018a00;
}

.post .header .name .trip {
    font-weight: normal;
    font-size: 0.9em;
}

.post .header .modcode {
    color: #ff0000;
}

.post .header .date {
}

.styled-text {
    padding: 0.3em 0 0.3em 0;
    word-wrap: break-word;
}

.styled-text .quote {
    color: #789922;
}

.styled-text .spoiler {
    background-color: black;
    color: #000;
    text-decoration: none;
}

.styled-text .spoiler:hover {
    color: #fff;
}

.styled-text h3, .styled-text h2, .styled-text h1 {
    margin: 0.5em 0 0.5em 0;
}

.styled-text .red {
    color: #ff0000;
}

.post .styled-text .abbreviated {
    color: #5a5a5a;
}

.post .file {
    display: inline-block;
    vertical-align: top;
}

.post .file-link img {
    margin: 15px 0 0 0;
}

.post .boardinfo {
    margin: 20px 0 0 0;
    color: #5a5a5a;
}

.catalog-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.catalog-post {
    position: relative;
    width: 200px;
    vertical-align: top;
    padding: 8px 8px calc(8px + 2.4em) 8px;
    margin: 0.2em;
    background: #dae2ee;
}

.catalog-post .text-container {
    max-height: 300px;
    overflow: hidden;
}

.catalog-post .date {
    color: #5a5a5a;
}

.catalog-post .subject {
    color: #0200ff;
}

.catalog-post .file {
    text-align: center;
}

.catalog-post .file img {
    max-width: 200px;
    max-height: 160px;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.catalog-post .styled-text {
    margin: 0 0 0.7em 0;
}

.catalog-post .stats {
    color: #5a5a5a;
}

.catalog-post .bottom {
    position: absolute;
    bottom: 8px;
}

.footer {
    margin: 3em 0 1em 0;
    text-align: center;
    font-size: 11px;
    color: #5a5a5a;
}

.footer-pages {
    font-size: 13px;
}

.message {
    border: 1px solid #B1B1B1;
    background-color: #fff4e2;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.message h3, .message h2, .message h1 {
    margin-top: 0;
}

.page {
}
