{% extends "mod_base.html" %}

{% block title %}Mod auth{% endblock %}
{% block mod_title %}Auth{% endblock %}
{% block mod_content %}
    {% if authed %}
        Logged in as <b>{{ moderator.username }}</b><br>
        <br>
        <form action="{{ url_for('.mod_auth') }}" method="POST">
            {{ csrf_html() }}
            <input name="deauth" type="hidden" value="yes">
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <form action="{{ url_for('.mod_auth') }}" method="POST">
            <fieldset>
                <legend>Authorize</legend>

                <label>Username<br>
                    <input type="text" name="username"><br>
                </label>

                <label>Password<br>
                    <input type="password" name="password"><br>
                </label>
                <br>

                {{ method.get_html()|safe }}<br>

                <input type="submit" value="Submit">
            </fieldset>
        </form>

        {% if show_registration %}
            <hr class="content-divider">

            <form action="{{ url_for('.mod_reg') }}" method="POST">
                <fieldset>
                    <legend>Register</legend>

                    <label>Username<br>
                        <input type="text" name="username"><br>
                    </label>

                    <label>Password
                        <small>at least 6 characters</small>
                        <br>
                        <input type="password" name="password"><br>
                    </label>

                    <label>Repeat password<br>
                        <input type="password" name="password_repeat"><br>
                    </label>
                    <br>

                    {{ method.get_html()|safe }}<br>

                    <input type="submit" value="Register">
                </fieldset>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ super() }}
    {% if method %}{{ method.get_javascript()|safe }}{% endif %}
{% endblock %}
