{% extends "mod_base.html" %}

{% import "widget/form.html" as form_widget %}

{% block title %}Mod moderators{% endblock %}
{% block mod_title %}Moderators{% endblock %}
{% block mod_content %}
    {{ form_widget.render(add_moderator_form) }}
    <br>

    <table class="datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Boards</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for moderator in moderators %}
            <tr>
                <td>{{ moderator.username }}</td>
                <td>
                    {% for board in moderator.boards %}
                        /{{ board.name }}/&nbsp;
                    {% endfor %}
                </td>
                <td>[<a href="{{ url_for('.mod_moderator', moderator=moderator) }}">Edit</a>]</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
