{% extends "base.html" %}

{% block top_content %}
{% if mod_links %}
    <div class="link-list">
        [
        {%- for mod_link in mod_links -%}
            <a href="{{ mod_link[1] }}">{{ mod_link[0] }}</a>{% if not loop.last %} / {% endif %}
        {%- endfor -%}
        ]
    </div>
{% endif %}
{% endblock %}

{% block content %}
    <h2 class="mod-title">{% block mod_title %}{% endblock %}</h2>
    <hr class="content-divider">
    {% block mod_content %}{% endblock %}
    <hr class="content-divider">
{% endblock %}

{% block styles %}
    {{ super() }}
    {% if not request.endpoint == 'mod.mod_auth' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename = 'style/mod_style.css') }}">
    {% endif %}
{% endblock %}
