{% extends "mod_base.html" %}

{% import "widget/form.html" as form_widget %}
{% import "widget/paged_model.html" as paged_model %}

{% block title %}Mod bans{% endblock %}
{% block mod_title %}Bans{% endblock %}
{% block mod_content %}
    {{ form_widget.render(ban_form, ban_messages) }}

    <form action="{{ url_for('.mod_ban_delete') }}" method="POST">
        {{ csrf_html() }}
        {{ paged_model.render('bans', paged_bans, '.mod_bans') }}
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        (function () {
            var confirmButtons = document.querySelectorAll('.confirm-button');
            for (var i = 0; i < confirmButtons.length; i++) {
                (function () {
                    var b = confirmButtons[i];
                    b.onclick = function (e) {
                        if (b.textContent != 'Confirm') {
                            b.textContent = 'Confirm';
                            e.preventDefault();
                        }
                    }
                })();
            }
        })();
    </script>
    {{ super() }}
{% endblock %}
