{% extends "mod_base.html" %}

{% import "widget/form.html" as form_widget %}

{% block title %}Mod pages{% endblock %}
{% block mod_title %}Pages{% endblock %}
{% block mod_content %}
    {{ form_widget.render(add_page_form, add_page_messages) }}
    <br>

    <table class="datatable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Order</th>
            <th>Link name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.type }}</td>
                <td>{{ page.order }}</td>
                <td>{{ page.link_name }}</td>
                <td>[<a href="{{ url_for('.mod_page', page=page) }}">Edit</a>]</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
