{% extends "mod_base.html" %}

{% import "widget/form.html" as form_widget %}

{% block title %}Modify page{% endblock %}
{% block mod_title %}Modify page{% endblock %}
{% block mod_content %}
    [<a href="{{ url_for('.mod_pages') }}">Back</a>]

    <hr class="content-divider">

    {{ form_widget.render(modify_page_form, modify_page_messages) }}

    <hr class="content-divider">

    <form action="{{ url_for('.mod_page_delete') }}" method="POST">
        {{ csrf_html() }}
        <button name="page_id" value="{{ page.id }}">Delete page</button>
    </form>

{% endblock %}
