{% extends "mod_base.html" %}

{% import "widget/form.html" as form_widget %}

{% block title %}Modify moderator{% endblock %}
{% block mod_title %}Edit "{{ moderator.username }}"{% endblock %}
{% block mod_content %}
    [<a href="{{ url_for('.mod_moderators') }}">Back</a>]<br>
    <br>

    {{ form_widget.render(add_moderator_board_form) }}

    Assigned to these boards:<br>
    <form action="{{ url_for('.mod_moderator', moderator=moderator) }}" method="POST">
        <input type="submit" value="Revoke">
        <table class="datatable">
            <thead>
            <tr>
                <th></th>
                <th>Board</th>
            </tr>
            </thead>
            <tbody>
            {% for board in moderator.boards %}
                <tr>
                    <td>
                        <input type="checkbox" name="board_remove" value="{{ board.name }}" title="Remove">
                    </td>
                    <td>{{ board.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ csrf_html() }}
    </form>

    <hr class="content-divider">

    <form action="{{ url_for('.mod_moderator_role_add', moderator=moderator) }}" method="POST">
        <fieldset>
            <legend>Add role to moderator</legend>
            {{ csrf_html() }}
            Available roles: {{ all_roles }}<br>
            <br>
            <label>Role<br>
                <input type="text" name="role" style="width: 100px;">
            </label>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    Roles:<br>
    <form action="{{ url_for('.mod_moderator', moderator=moderator) }}" method="POST">
        <input type="submit" value="Remove">
        <table class="datatable">
            <thead>
            <tr>
                <th></th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            {% for role in moderator.roles %}
                <tr>
                    <td>
                        <input type="checkbox" name="role_remove" value="{{ role }}" title="Remove">
                    </td>
                    <td>{{ role }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ csrf_html() }}
    </form>

    <hr class="content-divider">

    <form action="{{ url_for('.mod_moderator_password', moderator=moderator) }}" method="POST">
        <fieldset>
            <legend>Change password</legend>
            {{ csrf_html() }}

            <label>New password<br>
                <input type="password" name="new_password">
            </label>
            <br>
            <input type="submit" value="Change">
        </fieldset>
    </form>

    <br>
    <hr class="content-divider">
    <br>

    <form action="{{ url_for('.mod_moderator_delete') }}" method="POST">
        {{ csrf_html() }}
        <button name="moderator_id" value="{{ moderator.id }}">Delete moderator</button>
        <br>
        <b>This will permanently delete the moderator!</b>
    </form>

{% endblock %}
