{% extends "mod_base.html" %}

{% import "widget/post_report.html" as post_report_widget %}
{% import "widget/link_list.html" as link_list_widget %}
{% import "widget/pager.html" as pager_widget %}

{% block title %}Reports{% endblock %}
{% block mod_title %}Reports{% endblock %}
{% block mod_content %}
    <ul class="report-boards">
        <li><a href="{{ url_for('.mod_report') }}">all</a></li>
        {%- for board in moderator_boards -%}
            <li><a href="{{ url_for('.mod_report', page=0, boards=board.name) }}">{{ board.name }}</a></li>
        {%- endfor %}
    </ul>

    {{ pager_widget.render(url_for('.mod_report'), pages, page, pager_suffix) }}

    {% for report in reports %}
        {{ post_report_widget.render(report, report.post, report.post.thread, view_ips=view_ips,
                                     ip4_to_str=ip4_to_str, show_ban_button=show_ban_button) }}
    {% endfor %}

    <div class="clear"></div>
    {{ pager_widget.render(url_for('.mod_report'), pages, page, pager_suffix) }}

{% endblock %}
