{% extends "mod_base.html" %}

{% import "widget/form.html" as form_widget %}

{% block title %}Mod boards{% endblock %}
{% block mod_title %}Boards{% endblock %}
{% block mod_content %}
    {% if show_add_board %}
        {{ form_widget.render(add_board_form) }}
        <br>
    {% endif %}

    Boards you're a moderator of:<br>
    <table class="datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Roles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for board_moderator in board_moderators %}
            <tr>
                <td>{{ board_moderator.board.name }}</td>
                <td><b>{{ board_moderator.roles|join(', ') }}</b></td>
                <td>[<a href="{{ url_for('.mod_board', board_name=board_moderator.board.name) }}">Edit</a>]</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
