{% extends "mod_base.html" %}

{% block title %}Mod pages{% endblock %}
{% block mod_title %}Pages{% endblock %}
{% block mod_content %}
    <form action="{{ url_for('.mod_page_add') }}" method="POST">
        <fieldset>
            <legend>Add page</legend>
            {{ csrf_html() }}

            <label>Title<br>
                <input type="text" name="page_title">
            </label>
            <br>

            <label>Link<br>
                <input type="text" name="page_link_name">
            </label>
            <br>

            <label>Type<br>
                <select name="page_type">
                    {% for type in page_types %}
                        <option>{{ type }}</option>
                    {% endfor %}
                </select>
                <br>
            </label>
            <br>

            <input type="submit" value="Add">
        </fieldset>
    </form>

    <br>

    <table class="datatable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Order</th>
            <th>Link name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.type }}</td>
                <td>{{ page.order }}</td>
                <td>{{ page.link_name }}</td>
                <td>[<a href="{{ url_for('.mod_page', page_id=page.id) }}">Edit</a>]</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
