{% extends "base.html" %}

{% block title %}Modify moderator{% endblock %}

{% block content %}
    <h2>Modify moderator</h2>

    Changing moderator <b>{{ moderator.username }}</b><br>

    Admin of boards:<br>
    <form action="{{ url_for('.mod_moderator_board_remove', moderator_id=moderator.id) }}" method="POST">
        {{ csrf_html() }}

        <ul>
            {% for board in moderator.boards %}
                <li>
                    <a href="{{ url_for('board', board_name=board.name) }}">/{{ board.name }}/</a>
                    <button name="board_name" value="{{ board.name }}">Remove</button>
                </li>
            {% endfor %}
        </ul>
    </form>

    <form action="{{ url_for('.mod_moderator_board_add', moderator_id=moderator.id) }}" method="POST">
        <fieldset>
            <legend>Add board to moderator</legend>
            {{ csrf_html() }}

            <label>Board name<br>
                <input type="text" name="board_name" style="width: 100px;">
            </label>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <form action="{{ url_for('.mod_moderator_password', moderator_id=moderator.id) }}" method="POST">
        <fieldset>
            <legend>Change password</legend>
            {{ csrf_html() }}

            <label>Old password<br>
                <input type="password" name="old_password">
            </label>
            <br>
            <label>New password<br>
                <input type="password" name="new_password">
            </label>
            <br>
            <input type="submit" value="Change">
        </fieldset>
    </form>

    <br>
    <br>

    <form action="{{ url_for('.mod_moderator_delete') }}" method="POST">
        {{ csrf_html() }}
        <button name="moderator_id" value="{{ moderator.id }}">Delete moderator</button>
    </form>

{% endblock %}
