{% extends "mod_base.html" %}

{% block title %}Mod moderators{% endblock %}

{% block content %}
    <h2>Moderators</h2>

    <form action="{{ url_for('.mod_moderator_add') }}" method="POST">
        <fieldset>
            <legend>Add moderator</legend>
            {{ csrf_html() }}

            <label>Name
                <small>a-zA-Z0-9_ max 50 chars</small>
                <br>
                <input type="text" name="moderator_name">
            </label>
            <br>

            <label>Password<br>
                <input type="password" name="moderator_password">
            </label>
            <br>
            <input type="submit" value="Add">
        </fieldset>
    </form>

    <br>

    <table class="datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Boards</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for moderator in moderators %}
            <tr>
                <td>{{ moderator.username }}</td>
                <td>
                    {% for board in moderator.boards %}
                        /{{ board.name }}/&nbsp;
                    {% endfor %}
                </td>
                <td>[<a href="{{ url_for('.mod_moderator', moderator_id=moderator.id) }}">Modify</a>]</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
