{% macro render_begin() %}
    <form class="post-manage-form" action="{{ url_for('post_manage') }}" method="post">
{% endmacro %}

{% macro render_content(thread, show_moderator_buttons=False) %}
    <div class="post-manage-form-container">
        {#To delete or report posts, check the checkbox next to the post and select the appropiate action here.#}
        <label>Password
            <small>(for post deletion)</small>
            <input type="password" name="password" size="12"/>
        </label>

        <button name="mode" value="delete">Delete</button>
        <button name="mode" value="report">Report</button>
        {% if show_moderator_buttons %}
            <button name="mode" value="toggle_sticky">Toggle sticky</button>
            <button name="mode" value="toggle_locked">Toggle locked</button>
        {% endif %}
        <input type="hidden" name="thread_id" value="{{ thread.id }}">
    </div>
{% endmacro %}

{% macro render_end() %}
    </form>
{% endmacro %}
