{% macro render(post_item, thread=None, snippet=False, thread_view=False, with_divider=False, is_locked=False, is_sticky=False) %}
    <div class="post{{ ' snippet' if snippet else '' }}{{ ' divider' if with_divider else '' }}" id="p{{ post_item.refno }}">
        <div class="header">
            {% if post_item.subject %}
                <span class="subject">
                    {{ post_item.subject }}
                </span>
                <br>
            {% endif %}
            {% if thread_view %}<a href="#p{{ post_item.refno }}" class="refno">{% endif %}#{{ post_item.refno }}{% if thread_view %}</a>{% endif %}
            <span class="name">
                {{ post_item.name }}
            </span>
            <span class="date">
                {{ post_item.date|post_time }}
            </span>
            {% if is_locked %}<b>[locked]</b> {% endif %}
            {% if is_sticky %}<b>[sticky]</b>{% endif %}
            {% if thread_view %}
                <span class="manage">
                <input type="checkbox" name="post_id" value="{{ post_item.id }}">
            </span>
            {% endif %}

            {% if post_item.has_file %}
                <br>
                File: <a href="{{ post_item.file_location }}">{{ post_item.file_name }}</a> {{ '(' ~ post_item.file_size|filesizeformat ~ ', ' ~ post_item.file_width ~ 'x' ~ post_item.file_height ~ ')' }}
            {% endif %}
        </div>
        <div class="text">
            {# Render both the cached version and the model #}
            {% if post_item.html %}
                {{ post_item.html|safe }}
            {% else %}
                {{ post_item.text|post_text }}
            {% endif %}
        </div>
        {% if post_item.has_file %}
            <a href="{{ post_item.file_location }}">
                <img src="{{ post_item.file_thumbnail_location }}" width="{{ post_item.file_thumbnail_width }}" height="{{ post_item.file_thumbnail_height }}">
            </a>
        {% endif %}
        {% if thread %}
            <div class="boardinfo">
                {% if thread.omitted_count > 0 %}
                    {{ thread.omitted_count ~ ' ' ~ thread.omitted_count|pluralize('reply','replies') }} omitted
                {% endif %}
                [<a href="{{ url_for('view_thread', board_name=thread.board.name, thread_id=thread.id) }}">View thread</a>]
            </div>
        {% endif %}
    </div>
{% endmacro %}
