{% extends "base.html" %}

{% block title %}{% if is_banned %}You are banned!{% else %}Not banned{% endif %}{% endblock %}

{% block content %}
    <div class="message">
        {% if method_html %}
            <h2>Verify</h2>

            <form action="{{ url_for('.banned') }}" method="post">
                Please verify first before checking the ban status of this IP.<br>
                <br>
                {{ method_html|safe }}
                <br>
                <input type="submit" value="Verify">
            </form>
        {% elif is_banned %}
            <h2>You are banned!</h2>

            {% for ban in bans %}
                You have been banned from
                <b>{% if ban.board is not none %}/{{ ban.board }}/{% else %}all boards{% endif %}</b>:<br>
                <br>
                <b>{% if ban.reason %}{{ ban.reason }}{% else %}No reason available.{% endif %}</b><br>
                <br>
                You were banned on {{ ban.date|formatted_time }}<br>
                {% if ban.length > 0 %}
                    {% if ban.date + ban.length < now() %}
                        <br><b>This ban has expired. Now that you've seen this message you can post again.</b>
                    {% else %}
                        This ban will lift on {{ (ban.date + ban.length)|formatted_time }} which is
                        <b>{{ (ban.date + ban.length)|time_remaining }} from now</b>.
                    {% endif %}
                {% else %}
                    This ban will not expire.
                {% endif %}

                {% if not loop.last %}
                    <hr class="content-divider">
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>You are not banned</h2>
        {% endif %}
    </div>
{% endblock %}
