{% extends "board_view.html" %}

{% block title %}Board /{{ board.name }}/ - {{ board_config.full_name }}{% endblock %}

{% import "widget/post.html" as post_widget %}
{% import "widget/post_form.html" as post_form_widget %}
{% import "widget/post_manage.html" as post_manage_widget %}
{% import "widget/board_pager.html" as board_pager_widget %}

{% block post_form_top %}
    {{ post_form_widget.render(board, file_field=board_config.file_posting_enabled, moderator_fields=show_moderator_buttons) }}
{% endblock %}

{% block board_controls_top %}
    <hr class="content-divider">
    {{ board_pager_widget.render(board.name, board_config.pages, page_index) }}
    <hr class="content-divider">
{% endblock %}

{% block board_view_content %}
    {% for thread in threads %}
        {{ post_widget.render(thread.posts[0], thread, board_info=True, with_divider=thread.posts|length > 1,
            is_sticky=thread.sticky, is_locked=thread.locked) }}

        {% for post_snippet in thread.posts[1:] %}
            {{ post_widget.render(post_snippet, thread, link_refno=True, snippet=True, with_divider=not loop.last) }}
        {% endfor %}
        {% if not loop.last %}
            <hr class="content-divider">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block board_controls_bottom %}
    <hr class="content-divider">
    {{ board_pager_widget.render(board.name, board_config.pages, page_index) }}
    <hr class="content-divider">
{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/extra.js' if config.DEBUG else 'js/extra.9.js') }}"></script>
{% endblock %}
