{% extends "base.html" %}

{% block title %}Board /{{ board.name }}/ - {{ board_config.full_name }}{% endblock %}

{% import "widget/post.html" as post_widget %}
{% import "widget/post_form.html" as post_form_widget %}
{% import "widget/post_manage.html" as post_manage_widget %}
{% import "widget/board_pager.html" as board_pager_widget %}

{% block content %}
    <div class="board-header">
        <h1>/{{ board.name }}/ - {{ board_config.full_name }}</h1>
        <div class="description">{{ board_config.description }}</div>
    </div>
    <br>

    <hr class="content-divider">

    <div class="motd">{{ site_config.motd }}</div>

    <hr class="content-divider">

    {{ post_form_widget.render(board) }}

    <br>

    {{ board_pager_widget.render(board.name, board_config.pages, page_index) }}

    <hr class="content-divider">

    {% for thread in threads %}
        {{ post_widget.render(thread.posts[0], thread, with_divider=thread.posts|length > 1,
                is_sticky=thread.sticky, is_locked=thread.locked) }}

        {% for post_snippet in thread.posts[1:] %}
            {{ post_widget.render(post_snippet, thread=None, snippet=True, thread_view=False, with_divider=not loop.last) }}
        {% endfor %}
        <hr class="content-divider">
    {% endfor %}

    {{ board_pager_widget.render(board.name, board_config.pages, page_index) }}

{% endblock %}
