{% extends "board_view.html" %}

{% block title %}Catalog /{{ board.name }}/ - {{ board_config.full_name }}{% endblock %}

{% import "widget/post_catalog.html" as post_catalog_widget %}
{% import "widget/post_form.html" as post_form_widget %}
{% import "widget/post_manage.html" as post_manage_widget %}
{% import "widget/board_pager.html" as board_pager_widget %}

{% block post_form_top %}
{% endblock %}

{% block board_controls_top %}
    [<a href="{{ url_for('board', board_name=board.name) }}">Back</a>]
    <hr class="content-divider">
{% endblock %}

{% block board_view_content %}
    {% for thread in threads %}
        {{ post_catalog_widget.render(board.name, thread, thread.posts[0], is_sticky=thread.sticky, is_locked=thread.locked) }}
    {% endfor %}
{% endblock %}

{% block board_controls_bottom %}
    <hr class="content-divider">
    [<a href="{{ url_for('board', board_name=board.name) }}">Back</a>]
    <hr class="content-divider">
{% endblock %}
