{% extends "base.html" %}

{% block title %}/{{ thread.board.name }}/ - {{ board_config.full_name }}{% endblock %}

{% import "widget/post.html" as post_widget %}
{% import "widget/post_form.html" as post_form_widget %}
{% import "widget/post_manage.html" as post_manage_widget %}

{% block content %}
    <h2>Viewing thread</h2>
    [<a href="{{ url_for('board', board_name=thread.board.name) }}">Back</a>]

    <hr class="content-divider">

    <div class="motd">{{ site_config.motd }}</div>

    <hr class="content-divider">

    {{ post_manage_widget.render_begin() }}
    {% for post_item in thread.posts %}
        {{ post_widget.render(post_item, thread_view=True, with_divider=not loop.last,
            is_sticky=loop.first and thread.sticky, is_locked=loop.first and thread.locked) }}
    {% endfor %}

    <hr class="content-divider">

    <div class="post-manage-container">
        <div class="reply-buttons">
            [<a id="open-qr" href="#">Reply</a>]
        </div>
        {{ post_manage_widget.render_end(thread, show_moderator_buttons) }}
        <div class="clear"></div>
    </div>

    <hr class="content-divider">

    {% if not thread.locked %}
        {{ post_form_widget.render(thread.board, thread, file_field=board_config.file_posting_enabled) }}
    {% else %}
        Thread locked, you may not reply at this time.<br>
    {% endif %}
    <br>
    [<a href="{{ url_for('board', board_name=thread.board.name) }}">Back</a>]

    <div class="qr">
        <form class="qr-form" action="{{ url_for('post') }}" method="post" enctype="multipart/form-data">
            <span class="handle">
                <span class="handle-text">Reply</span>
                <span class="handle-close">&#x2716;</span>
            </span><br>
            <input type="text" name="name" placeholder="Name"><br>
            <textarea name="comment" placeholder="Comment" rows="8"></textarea><br>
            <input type="file" name="file"><input type="submit" value="Submit"/><br>

            <span class="error-message">Message</span>

            <input type="hidden" name="board" value="{{ thread.board.name }}"/>

            {% if thread %}
                <input type="hidden" name="thread" value="{{ thread.id }}"/>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/extra.css') }}">
{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script>
        window.pageDetails = {
            'mode': 'thread',
            'boardName': '{{ thread.board.name }}',
            'threadId': {{ thread.id }},
            'postEndpoint': '{{ url_for('post') }}'
        }
    </script>
    <script src="{{ url_for('static', filename='js/thread.js') }}"></script>
    <script src="{{ url_for('static', filename='js/extra.js') }}"></script>
{% endblock %}
