{% extends "board_view.html" %}

{% block title %}/{{ thread.board.name }}/ - {{ full_name }}{% endblock %}

{% import "widget/post.html" as post_widget %}
{% import "widget/post_form.html" as post_form_widget %}
{% import "widget/post_manage.html" as post_manage_widget %}

{% block post_form_top %}
    <h1>Viewing thread</h1>
{% endblock %}

{% block board_controls_top %}
    <hr class="content-divider">
    [<a href="{{ url_for('board', board_name=thread.board.name) }}">Back</a>]
    <span id="top">[<a href="#bottom">Bottom</a>]</span>
    <hr class="content-divider">
{% endblock %}

{% block board_view_content %}
    {{ post_manage_widget.render_begin() }}
    <div class="posts">
        {% for post_item in thread.posts %}
            {{ post_widget.render(post_item, checkbox=True, with_divider=not loop.last,
        is_sticky=loop.first and thread.sticky, is_locked=loop.first and thread.locked) }}
        {% endfor %}
    </div>
{% endblock %}

{% block board_controls_bottom %}
    <hr class="content-divider">
    <div class="post-manage-container">
        <div class="thread-controls">
            [<a href="{{ url_for('board', board_name=thread.board.name) }}">Back</a>]
            <span id="bottom">[<a href="#top">Top</a>]</span>
        </div>
        {{ post_manage_widget.render_content(thread, show_moderator_buttons) }}
        <div class="clear"></div>
    </div>
    {{ post_manage_widget.render_end() }}
    <hr class="content-divider">
{% endblock %}

{% block post_form_bottom %}
    {% if not thread.locked %}
        {{ post_form_widget.render(thread.board, thread, file_field=file_posting_enabled, moderator_fields=show_moderator_buttons) }}
    {% else %}
        Thread locked, you may not reply at this time.<br>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/thread.js' if config.DEBUG else 'js/thread.5.js') }}"></script>
{% endblock %}
